* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-divider {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
